<ion-header>
    <ion-toolbar>
        <ion-title>Trash</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid *ngFor="let trashEmail of trashEmails">
        <ion-card>
            <ion-row>
                <ion-col size="3">From:</ion-col>
                <ion-col>{{trashEmail.email}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="3">Subject:</ion-col>
                <ion-col>{{trashEmail.subject}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="3">Message: </ion-col>
                <ion-col>{{trashEmail.message}}</ion-col>
            </ion-row>
        </ion-card>
    </ion-grid>

</ion-content>